* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after {
    box-sizing: border-box;
}
*::before {
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FEE433;
}
a {
    text-decoration: none;
    color: #444;
}

ul,li {
    list-style: none;
}